<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: rgb(0, 0, 0); cursor: default;" onclick="return false;">Vet
            station</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" id="tablesLink" aria-current="page" href="/my-app/welcome">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="tablesLink" aria-current="page"
                        href="/my-app/notifications">Alarms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="usersLink" aria-current="page"
                        href="/my-app/hospitalized-cats">Hospitalized cats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="usersLink" aria-current="page"
                        href="/my-app/therapies">Therapies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="usersLink" aria-current="page" href="/my-app/reports">Reports</a>
                </li>
            </ul>
        </div>

    </div>
</nav>