mat-slider {
    width: 300px;
}

.symptoms-content {
    margin-top: 2%;
    overflow: hidden;
}

#next-button {
    float: right;
    transform: translate(-30%, -30%);
    background-color: rgb(109, 109, 109);
    border-color: rgb(122, 122, 122);
}