.myform {
    margin-top: 4% !important;
    width: 60%;
    position: relative;
    margin: auto;
    background-color: rgb(228, 228, 228);
    border-radius: 18px;
    padding: 18px;
}

#confirm-button {
    position: relative;
    margin: auto;
    width: 15%;
    margin-top: 10px;
    background-color: rgb(109, 109, 109);
    border-color: rgb(122, 122, 122);
}

@media (max-width: 350px) {
    .myForm {
        min-width: 90%;
    }
}

#jmbm-div,
#name-div,
#age-div,
#weight-div,
#breed,
#gender {
    text-align: center;
}

#jmbm,
#name,
#firstname,
#age,
#weight,
#breed,
#gender {
    position: relative;
    margin: auto;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.myform-label {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 350;
    text-align: center;
    margin: 20px 0px;
    font-weight: 400;
}